{% extends 'finances/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12">
        <ul class="collection with-header z-depth-1">
            <li class="collection-header red darken-3 white-text"><div><h5><b>{{ crypto }} ({{ crypto.symbol }})</b></h5></li>
            <li class="collection-item grey lighten-4"><div>Owner:<div class="secondary-content">{{ crypto.owner }}</div></div></li>
            <li class="collection-item grey lighten-4"><div>Purchase Price:<div class="secondary-content">${{ crypto.purchase_price}}</div></div></li>
            <li class="collection-item grey lighten-4"><div>Purchase Date:<div class="secondary-content">{{ crypto.purchase_date }}</div></div></li>
            <li class="collection-item grey lighten-4"><div>Quantity Owned:<div class="secondary-content">{{ crypto.quantity_owned }}</div></div></li>
        </ul>
    </div>
    <div class="col s12">
        <a href="{% url 'customer_detail' crypto.owner.id %}"
        class="waves-effect waves-light brown lighten-1 btn"><i class="material-icons left">arrow_back</i>Return to Owner</a>
        <a href="{% url 'crypto_edit' crypto.id %}"
        class="waves-effect waves-light brown lighten-1 btn"><i class="material-icons right">edit</i>Edit Currency</a>
        <a href="#modal1"
        class="waves-effect waves-light brown lighten-1 btn modal-trigger"><i class="material-icons right">delete</i>Delete</a>
    </div>

<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Are you sure you want to delete this?</h4>
      <p>This action is irreversible, and will result in permanent loss of data.</p>
    </div>
    <div class="modal-footer">
      <form action="{% url 'crypto_detail' crypto.id %}" method="POST" >
          {% csrf_token %}
          <a href="#!" class="modal-action modal-close waves-effect waves-brown btn-flat">Cancel</a>
          <button type="submit" class="save waves-effect waves-brown btn-flat">Delete</button>
      </form>
      
    </div>
  </div>

{% endblock %}
