{% extends 'finances/base.html' %}

{% block content %}

<div class="row">
    <div class="col s12">
        <h3><b>{{ customer }}</b></h3>
        <div class="col s12">
            <ul class="collection z-depth-1">
                <li class="collection-item grey lighten-4"><div>Address:<div class="secondary-content">{{ customer.full_address }}</div></div></li>
                <li class="collection-item grey lighten-4"><div>E-mail address:<div class="secondary-content">{{ customer.email }}</div></div></li>
                <li class="collection-item grey lighten-4"><div>Phone number:<div class="secondary-content">{{ customer.phone }}</div></div></li>
            </ul>
            <a href="{% url 'index' %}"
            class="waves-effect waves-light brown lighten-1 btn"><i class="material-icons left">arrow_back</i>Return to Customer List</a>
        </div>
    </div>
    <div class="col s12">
        
        
        
        <h3><b>Assets Owned</b></h3>
        <div class="card grey lighten-4 z-depth-3">
            <div class = "card-content">
                <span class = "card-title red-text text-darken-3"><h4><b>Stocks</b></h4></span>
        
                {% if customer.stock_set.all %}
                
                    <table>
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th># of Shares</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in customer.stock_set.all %}
                                <tr>
                                    <td><a href="{% url 'stock_detail' stock.id %}"><i>{{ stock }}</i> (<b>{{ stock.symbol }}</b>)</a></td>
                                    <td>{{ stock.quantity_owned }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                {% else %}
                    <p>No stocks are currently owned by this customer.</p>
                {% endif %}
                    
                </br><div class = "card-action">
                    <a href="{% url 'stock_create' customer.id %}"
                    class="waves-effect waves-light brown lighten-1 btn"><i class="material-icons right">insert_chart</i>Add Stock</a>
                </div>
            </div>
        </div>
        
        <div class="card grey lighten-4 z-depth-3">
            <div class = "card-content">
                <span class = "card-title red-text text-darken-3"><h4><b>Cryptocurrencies</b></h4></span>
        
                    {% if customer.crypto_set.all %}
                        
                    <table>
                        <thead>
                            <tr>
                                <th>Cryptocurrency</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for crypto in customer.crypto_set.all %}
                                <tr>
                                    <td><a href="{% url 'crypto_detail' crypto.id %}"><i>{{ crypto }}</i> (<b>{{ crypto.symbol }}</b>)</a></td>
                                    <td>{{ crypto.quantity_owned }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        
                {% else %}
                    <p>No cryptocurrencies are currently owned by this customer.</p>
                {% endif %}
                    
                </br><div class = "card-action">
                    <a href="{% url 'crypto_create' customer.id %}"
                    class="waves-effect waves-light brown lighten-1 btn"><i class="material-icons right">attach_money</i>Add Cryptocurrency</a>
                </div>
            </div>
        </div>
        
    </div>
</div> 

{% endblock %}